body {
    margin: 0px;
    border: 0px;
    padding: 0%;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px;
    margin: 0 50px;
    padding: 0%;
    background-color: white;
    height: auto;
}

nav div>a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

nav div {
    padding-top: 20px;
    text-align: center;
}

#logo {
    width: 100px;
    height: 50px;
    margin: 40px 10px 0;
}

#container_button {
    height: auto;
    width: 400px;
    max-width: 400px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

#nav_container_activities,
#nav_container_accommodation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
}

#nav_accommodation_link,
#nav_activities_link {
    flex: 1;
    padding: 40px 30px;
    border-top: solid 3px white;
    color: black;
}

#nav_activities_link:hover {
    border-top: solid 3px #1877f2;
    color: #1877f2;
}

#nav_accommodation_link:hover {
    border-top: solid 3px #1877f2;
    color: #1877f2;
}

#main {
    margin-top: 30px;
}

#section1 {
    margin-left: 50px;
}

#title1 {
    font-size: 22px;
    font-family: 'Raleway';
    margin: 0;
    font-weight: 700;

}

.subtitle {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 10px;
}

/*barre de recherche*/
#search_city {
    width: 405px;
    display: flex;
    border: solid 1px rgb(238, 238, 238);
    border-radius: 14px 14px 14px 14px;
    height: 50px;

}

#search_logo {
    background-color: #F2F2F2;
    height: 50px;
    width: 60px;
    border-radius: 14px 0 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_text {
    border: 0px;
    margin: 0%;
    width: 220px;
    height: 48px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

input[type="text"]::placeholder {
    color: black;
    font-weight: 600;
}

#search_button_desktop {
    height: 50px;
    width: 125px;
    border: 0px;
    margin: 0%;
    cursor: pointer;
    background-color: #1877f2;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 0 14px 14px 0;
}

#search_button_desktop:hover {
    background-color: blue;
}

#search_button_container i {
    display: none;
}

/* SECTION 2 filtres et info */
#section2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 50px;
    flex-wrap: wrap;
}

#filterbox {
    display: flex;
    flex-wrap: wrap;
}

#title_filter {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.filters {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    padding: 0px;

}

.filter_items {
    font-family: 'Raleway', sans-serif;
    border-radius: 200px;
    border: solid 2px lightgray;
    margin: 5px 25px 0 0px;
    padding: 0px 20px 0 0;
    font-weight: 700;
    cursor: pointer;
    background-color: white;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    display: inline;
}

ul i {
    background-color: #DEEBFF;
    font-size: 18px;
    border-radius: 200px;
    margin: 0 15px 0px 0;
    border: 0px;
    padding: 15px;
    color: #1877f2;

}

.filter_items:hover {
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    from {
        background-color: white;
        color: #1877f2;
    }

    to {
        background-color: #1877f2;
        color: white;
    }
}

/*info*/
.info {
    margin-top: 15px;
}

ul i.fa-child {
    padding: 15px 18px 15px 20px;
}

.info p {
    display: inline;
    font-family: 'Raleway', sans-serif;
}

.fa-info {
    color: blue;
    border: 2px solid lightgray;
    border-radius: 200px;
    font-size: 11px;
    padding: 7px 10px;
    margin-right: 10px
}

/* SECTION les plus populaires et hébergments */
#section_mostpopular_accommodation {
    max-width: 1339px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

#mostpopular {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 25px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.titlemostpopular {
    display: flex;
    justify-content: space-between;
    width: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0 0 10px 0px;
}

.titlemostpopular i {
    font-size: 20px;
    padding-top: 10px;
    color: black;
    margin-top: 10px;
}

#AllPopular {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.containermostpopular {
    height: auto;
    text-decoration: none;
    color: initial;
    box-shadow: 3px 6px 20px rgba(169, 168, 168, 0.282);
    border-radius: 20px;
    display: flex;
    width: 100%;
    padding: 5px;
    background-color: white;
    flex: 1;
}

.mostPopular_pictures {
    height: 150px;
    width: 38%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.description-hotels-most-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 0px;
    width: 58%;
}

.hotel-name {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 550;
    width: 100%;
    box-sizing: border-box;
    display: inline;
}

.hotel-price {
    margin: 5px 0px;
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    font-weight: 200;
    font-size: 14px;
}

.bluestars {
    color: #0065FC;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}

.graystars {
    color: lightgray;
    font-size: 11px;
}

/*hebergment*/
#section_marseille_accommodation {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 25px 40px 0px 50px;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

#title_section_accommodation {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0 0 10px 0px;
}

#all_accommodations {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.accommodation_pictures {
    height: 115px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin: 0px;
}

.container_accommodation_text {
    margin: 5px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_accommodation {
    width: 31%;
    text-decoration: none;
    color: initial;
    box-shadow: 3px 6px 20px rgba(169, 168, 168, 0.282);
    border-radius: 20px;
    display: flex;
    height: auto;
    margin-bottom: 20px;
}

.container_img_text {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: auto;
    padding: 5px;
    width: 100%;
}

.container_picture_accommodation {
    width: 100%;
}

#btn_more_display {
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold;
    border: none;
    width: 150px;
    margin: 40px 0 20px 0px;
    padding: 0px;
    cursor: pointer;
    text-align: start;
    background-color: #F2F2F2;
}

/*activité marseille*/

#section_marseille_activities {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    padding: 30px 50px 0;
}

#title_section_marseille_activities {
    font-family: 'Raleway';
    font-size: 14px;
    margin: 0 0 5px 0px;
}

#all_marseille_activities {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 450px;
}

.container_block_activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 100%;
}

.container_marseille_activity {
    box-shadow: 3px 6px 20px rgba(169, 168, 168, 0.282);
    border-radius: 20px;
}

.activities_link {
    color: initial;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

}

.container_img_text_activity {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.activities-name {
    position: absolute;
    padding: 20px 0 15px 20px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    margin: 0%;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.activities_pictures {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
}

#activity1 {
    height: 100%;
}

#activity2 {
    height: 55%;
}

#activity3 {
    height: 100%;
}

#activity4 {
    height: 43%;
}

#activity5 {
    height: 35%;
}

#activity6 {
    height: 47%;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    margin: 60px 0px 0px 0px;
    display: flex;
    gap: 250px;
    padding: 20px 50px 20px 50px;
    border: 0;
    width: auto;
    height: 200px;
}

footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

footer ul li:first-child {
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 20px;
}

footer ul li {
    margin-top: 10px;
}

footer ul li a {
    text-decoration: none;
    font-family: 'Raleway';
    color: black;
    font-weight: 300;
    font-size: 16px;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* Media Queries tablettes */
@media screen and (max-width: 991px) {
    #title1 {
        font-size: 24px;
    }

    /* Filtres version tablettes */
    ul i {
        background-color: #DEEBFF;
        font-size: 22px;
        border-radius: 200px;
        margin: 0px;
        border: 0px;
        padding: 15px;
        color: #1877f2;
    }

    .filters {
        padding: 0px;
        margin: 0px;
    }

    .info {
        display: flex;
        margin-top: 20px;

    }

    .info p {
        margin: 0px;
        font-size: 20px;

    }

    i.fa-info {
        align-self: flex-start;
    }

    /* Most popular & Accommodation version tablettes */
    #section_mostpopular_accommodation {
        width: auto;
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #mostpopular {
        width: auto;
        border-radius: 0px;
        padding: 25px 50px 40px;
        display: flex;
        flex-direction: column;
    }

    .titlemostpopular {
        font-size: 18px;
    }

    .titlemostpopular i {
        font-size: 24px;
        padding-top: 10px;
        color: black;
        margin-top: 17px;
        margin-right: 20px;
    }

    #AllPopular {
        margin: 0px;
    }

    .containermostpopular {
        text-decoration: none;
        color: initial;
        box-shadow: 3px 6px 20px rgba(169, 168, 168, 0.282);
        border-radius: 20px;
        display: flex;
        width: auto;
    }

    .mostPopular_pictures {
        height: 170px;
        border-radius: 15px 0px 0px 15px;
    }

    .description-hotels-most-popular {
        padding: 20px 25px 10px;
    }

    .hotel-name {
        font-size: 20px;
    }

    .hotel-price {
        font-size: 17px;
        margin-top: 5px;
    }

    .stars-container i {
        font-size: 15px;
        margin-top: 5px;
    }

    /* Marseille Accommodation version tablettes */
    #section_marseille_accommodation {
        width: auto;
        background-color: white;
        padding: 0px 50px;
    }

    #title_section_accommodation {
        font-size: 18px;
    }

    .accommodation_pictures {
        height: 125px;
    }

    .container_accommodation {
        width: 47%;
    }

    #btn_more_display {
        font-size: 20px;
        background-color: white;
    }

    /* activities version tablettes */
    #title_section_marseille_activities {
        font-size: 18px;
    }

    .activities-name {
        font-size: 17px;
    }

    /* FOOTER version tablettes */
    footer {
        gap: 20px;
    }

}

/* Media Queries smartphone */
@media screen and (max-width: 767px) {

    body {
        background-color: white;
    }

    #header {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        border: 0px;
        margin: 0%;
        padding: 0%;
        background-color: white;
        width: 100%;
        height: auto;
    }

    #container_logo {
        align-self: center;
    }

    #logo {
        width: 110px;
        height: 60px;
        margin: 30px 0px 20px 0px;
        display: block;
        animation-name: none;
        text-align: center;
    }

    /* Activities & accommodation button version mobile */
    #container_button {
        min-width: 100%;
        background-color: white;
        display: flex;
        margin: 0px;
        padding: 0%;
    }

    #nav_container_accommodation {
        width: 50%;

    }

    #nav_container_activities {
        width: 50%;
    }

    #nav_accommodation_link {
        border-top: none;
        border-bottom: solid 5px #F2F2F2;
        text-align: center;
        padding-top: 10px;
        width: 50%;
        color: rgb(34, 34, 34);
        font-size: 22px;

    }

    #nav_accommodation_link:hover {
        border-top: none;
        border-bottom: solid 5px #1877f2;
    }

    #nav_activities_link {
        border-top: none;
        border-bottom: solid 5px #F2F2F2;
        text-align: center;
        padding-top: 10px;
        width: 50%;
        color: black;
        font-size: 22px;
    }

    #nav_activities_link:hover {
        border-top: none;
        border-bottom: solid 5px #1877f2;
    }

    #main {
        margin: 50px 0px 0px 0px
    }

    #section1 {
        margin-left: 20px;
    }

    #section2 {
        margin-left: 20px;
    }

    #title1 {
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: 600;
    }

    .subtitle {
        font-size: 20px;
        margin-bottom: 40px;
    }

    /* barre de recherche version mobile */

    #search_logo {
        background-color: #F2F2F2;
        height: 60px;
        width: 60px;
        border-radius: 14px 0 0 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #search_logo i {
        font-size: 20px;
        margin: 0%;
        padding: 0%;
    }

    #search_city {
        width: max-content;
        height: 60px;
    }

    #search_text_container {
        padding: 0px 0px 0px 15px;
        height: 60px;
    }

    #search_text {
        border: 0px;
        margin: 5px;
        min-width: 300px;
        font-size: 20px;
        padding: 0%;
    }

    #search_button_container {
        display: inline-flex;
        height: auto;
        width: 60px;
        border: 0px;
        margin: 0%;
        cursor: pointer;
        background-color: #1877f2;
        color: white;
        border-radius: 14px;
        justify-content: center;
        align-items: center;
    }

    #search_button_container i {
        display: inline;
        font-size: 20px;


    }

    #search_button_desktop {
        display: none;
    }

    /* filtres version mobile */

    #title_filter {
        font-size: 18px;
    }

    .filter_items {
        font-size: 23px;
        font-weight: 500;
    }

    ul i {
        background-color: #DEEBFF;
        font-size: 25px;
        border-radius: 200px;
        margin: 0px;
        border: 0px;
        padding: 15px;
        color: #1877f2;
    }

    .filters {
        padding: 0px;
        margin: 0px;
    }

    .info {
        display: flex;
        margin-top: 20px;

    }

    .info p {
        margin: 0px;
        font-size: 20px;

    }

    i.fa-info {
        align-self: flex-start;
    }

    /* les plus populaires  version mobile*/
    #section_mostpopular_accommodation {
        width: auto;
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #mostpopular {
        width: auto;
        background-color: #F2F2F2;
        border-radius: 0px;
        padding: 25px 0px 40px 0px;
        display: flex;
        flex-direction: column;
    }

    .titlemostpopular {
        font-size: 18px;
        margin-left: 20px;
    }

    .titlemostpopular i {
        font-size: 24px;
        padding-top: 10px;
        color: black;
        margin-top: 17px;
        margin-right: 20px;
    }

    #AllPopular {
        margin: 0px 20px 0px 20px;
    }

    .containermostpopular {
        text-decoration: none;
        color: initial;
        box-shadow: 3px 6px 20px rgba(169, 168, 168, 0.282);
        border-radius: 20px;
        display: flex;
        width: auto;
    }

    .mostPopular_pictures {
        height: 180px;
        border-radius: 15px 0px 0px 15px;
    }

    .hotel-name {
        font-size: 22px;
        font-weight: 500;
    }

    .hotel-price {
        font-size: 17px;
        margin-top: 5px;
    }

    .stars-container i {
        font-size: 15px;
        margin-top: 5px;
    }


    /* hébergement à marseille  version mobile*/
    #section_marseille_accommodation {
        background-color: white;
        padding: 0px 20px 0px 20px;
        width: auto;
    }

    #all_accommodations {
        display: flex;
        flex-flow: column;
        width: 100%;
        gap: 30px;
    }

    .accommodation_pictures {
        height: 150px;
        width: 100%;
    }

    .container_accommodation_text {
        margin: 5px 0px 0px 15px;
    }

    .container_accommodation {
        width: 100%;
        height: auto;
    }

    .container_img_text {
        height: auto;
        width: 100%;
    }

    #btn_more_display {
        background-color: white;
        font-size: 24px;
        font-weight: 500;
    }

    /* Activités à marseille version mobile */
    #section_marseille_activities {
        padding: 20px;
    }

    #all_marseille_activities {
        flex-flow: column wrap;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        gap: 20px;
    }

    .container_block_activities {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
    }

    #activity1,
    #activity2,
    #activity3,
    #activity4,
    #activity5,
    #activity6 {
        height: 240px;
    }

    .container_marseille_activity {
        width: 100%;
    }

    .activities-name {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
        height: 15%;
    }

    /* Footer */
    footer {
        flex-direction: column;
        height: auto;
    }
}
